/* Chrome, Safari, Edge, Opera */
input.noArrow::-webkit-outer-spin-button,
input.noArrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].noArrow{
  -moz-appearance: textfield;
}

.header{
  font-weight: bold;
}

.customContainer{
  margin-top: 150px;
}

.text2{
  font-size: 20px;
}

.text3{
  font-size: 18px;
}

.text1{
  font-size: 22px;
}

.mb-20{
  margin-bottom: 20px;
}

.submitBtn {
  padding : 8px 40px !important;
}

.wrapper{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.align-center{
  text-align: center;
}

.numEntry{
  width: 45px;
  height : 45px;
  text-align: center;
}

.flex-container{
  gap:10px;
  flex-wrap: wrap;
  margin:30px 0px;
  justify-content: center; 
  display: flex;
}

.header{
  font-size: 20px;
}

